<script src="/javascript/404.js"></script>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
</head>

<body>
    <div class="errpage">
      <h1> OH, NO!!! Error: 404</h1>
    </div>
    <div class="errpage">
      <img class="troll" src="/images/troll.png">
      <button id="back" class="back">Take Me home</button>
      <h1>You Can Not Afford This Troll's Toll... Turn Back</h1>
    </div>

    <script src="/javascript/return.js"></script>
</body>

</html>