<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="card your-pets">
                <h3 class="card-header text-uppercase">Your pets</h3>
            </div>

            <div class="card">
                <h3 class="card-header text-uppercase">Options</h3>
                <div class="card-body" id="language-buttons">
                    <button class="btn" data-language="javascript">Add A Pet</button>
                    <button class="btn" data-language="html">View A Pet</button>
                    <button class="btn" data-language="css">Set an appointment</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-12 col-md-6">
            <div class="card pet-info">
            <h2 class="subtitle">Your Pet Info <span id="repo-search-term"></span></h2>
            <div id="repos-container" class="list-group"></div>
            </div>
        </div>
    </div>
</div>