<div class="container">
  <div class="row">
    <div class="col-12 col-md-4">
      <div class="card your-pets">
        <h3 class="card-header text-uppercase">Your Pets</h3>
      </div>

      <div class="card" id="options">
        <h3 class="card-header text-uppercase">Options</h3>
        <div class="card-body" id="language-buttons">
          <button class="btn" data-language="javascript">Add a Pet</button>
          <button class="btn" data-language="html">View a Pet</button>
          <button class="btn" data-language="css">Set an Appointment</button>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
    <div class="col-12 col-md-6">
      <div class="card pet-info">
        <h2 class="subtitle">Your Pet Info <span id="repo-search-term"></span></h2>
        <div id="repos-container" class="list-group"></div>
      </div>
    </div>
  </div>
</div>
    <!-- <div class="col-md-2"></div>
    <div class="col-12 col-md-6">
      <div class="card pet-info">
        <h2 class="subtitle">Your Pet Info <span id="repo-search-term"></span></h2>
        <div id="repos-container" class="list-group"></div>
      </div>
    </div> -->
  </div>
</div>


<main>
  <!-- View comments by user -->
  <!-- this link to the partial -->
  <div class="card w-75 m-auto">
    <div class="card-header">
      <h3>My PetPortal Comments</h3>
    </div>
     <article>
    {{#if comments.length}}
    <section>
      <h4>Recent Comments</h4>
      <ol>
        {{#each comments as |comment|}}
        <li>
          {{>comment-info}}
        </li>
        {{/each}}
      </ol>
    </section>
    {{/if}}
  </article>
</main>

  </div>
  <!-- Enter a new comment -->
  <header>
    <h4 class="w-75 m-auto pt-3">Create a New Comment</h4>
  </header>
  <form class="comment-form m-auto w-75">
    <div class="mb-3">
      <!-- <label for="exampleFormControlInput1" class="form-label">Title</label> -->
      <input name="comment-title" type="title" class="form-control" id="exampleFormControlInput1"
        placeholder="Enter a title">
    </div>
    <div class="mb-3">
      <!-- <label for="exampleFormControlTextarea1" class="form-label">Comment</label> -->
      <textarea name="comment-body" class="form-control" id="exampleFormControlTextarea1" placeholder="Enter comment" rows="3"></textarea>
      <button type="submit" class="btn btn-primary w-50" id="comment-btn">add comment</button>
    </div>
    
  </form>
</main>

<script src="/javascript/comments.js"></script>