<div class="container-fluid">
    <div class="row" id="home-row">

                    {{!-- ABOUT US START --}}
<div class="card col-5" id="home-card">
  <div class="card-header">
    <h3>About Us</h3>
  </div>
  <p>Maulimok's Magical Medical Menagerie is the realm's premier provider of mobile veterinary services. Our carts and vardos are equipped with state-of-the-art magics and technologies to serve the wide variety of clientele we encounter on our travels. Our staff of care-takers, mages, and veterinary professionals ride out daily, ever ready to provide the best care imaginable to the livestock, familiars, and companions of this land.</p>
  <div class="rounded mx-auto d-block"><img src="/images/caravan2.png"></div>
</div>
                    {{!-- ABOUT US END --}}

<div class="landing-page-center-image"><img src="/images/phoenix-nb.png"></div>

                    {{!-- SERVICES START --}}
<div class="card col-5" id="home-card">
  <div class="card-header">
    <h3>Our Services</h3>
  </div class>
  <h6 class="text-center">Wellness for Familiars, Beasts, and Monsters Alike</h6>
  <p>Being a travelling veterinary-care cohort of medical and magical specialists takes us through the wide world and affords us the opportunity to serve a wide variety of people and beasts. We see a growing number of cases each day, and we strive to provide the best possible research-based care for each of the illnesses, injuries, diseases, and general cases that come our way. When we see a specific need that arises among our patients, we ask ourselves, “What can we do to best help this situation?” </p>
  <p>Many times, this equates to new equipment, training, or specialists to help us fulfill the needs of our clients in the best and most up-to-date way possible. Our doctors, mages, and staff are continuously trained and educated to bring you the best care possible. And we are excited about the wide and expanding array of services that we offer our ever wide and expanding variety of patients. We are proud to provide wellness care, medical, preventative care, and more for the important companions in your household.</p>
  <h6 class="text-center">Medical Services</h6>
  <h6 class="text-center">Surgical Services</h6>
  <p>Surgeries and other curative rites are performed in our spacious surgical vardo, which is the largest in our caravan, equipped with state-of-the-art anesthetic magics, monitoring, and patient care equipment. Every procedure includes a dedicated anesthesia magister to provide constant monitoring and supportive care from start to finish. When it comes to the health, safety, and well-being of your loved ones, we simply don’t believe in shortcuts. A higher level of care is our goal in all that we do, including some of our most common surgical procedures.</p>
</div>
                    {{!-- SERVICES END --}}

</div>
                    {{!-- GALLERY START --}}
<!-- Slider main container-fluid -->
<section class="swiper-container container-fluid">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><img src="/images/fox-nb.png">Foxy</div>
      <div class="swiper-slide"><img src="/images/zorbo-nb.png">Zorbo</div>
      <div class="swiper-slide"><img src="/images/jar-brain.png">Bob</div>
      <div class="swiper-slide"><img src="/images/owl.png">Greedy Guts</div>
      <div class="swiper-slide"><img src="/images/baboon.png">George</div>
      <div class="swiper-slide"><img src="/images/almiraj.png">Sweet Pea</div>
      ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    </div>
  </section>
>                    {{!-- GALLERY END --}}

