<div class="container">
    <div class="row" id="home-row">

                    {{!-- ABOUT US START --}}
<div class="card" id="home-card">
<h3>About Us</h3>
<p>Et voluptatem earum aut corporis commodi et iure pariatur qui rerum corporis. Cum dicta eligendi aut explicabo officia qui voluptates voluptatum est neque labore. Est cupiditate repudiandae eum velit sapiente aut beatae perferendis et facere necessitatibus vel doloremque nesciunt.</p>
</div>
                    {{!-- ABOUT US END --}}

                    {{!-- SERVICES START --}}
<div class="card" id="home-card">
<h3>Our Services</h3>
<p>Et voluptatem earum aut corporis commodi et iure pariatur qui rerum corporis. Cum dicta eligendi aut explicabo officia qui voluptates voluptatum est neque labore. Est cupiditate repudiandae eum velit sapiente aut beatae perferendis et facere necessitatibus vel doloremque nesciunt.</p>
</div>
</div>
                    {{!-- SERVICES END --}}

                    {{!-- GALLERY START --}}
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/images/fox.png" class="d-block w-100" alt="a white fox climbing a snowy hill looking back over its right shoulder">
    </div>
    <div class="carousel-item">
      <img src="/images/zorbo.png" class="d-block w-100" alt="zorbo sitting, looking intently at the viewer">
    </div>
    <div class="carousel-item">
      <img src="/images/brain-in-a-jar.png" class="d-block w-100" alt="a brain-in-a-jar, sitting in green-ish liquid in a glass jar with oxidized-copper dragon feet">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



                    {{!-- GALLERY END --}}
    </div>

