<div class="form-div">
  <form class="signup-form">
    <h1>Signup</h1>
    <div class="form-input">
      <div>
        <input class="form-label" placeholder="Username" type="text" id="username-signup" />
      </div>
      <div>
        <input class="form-label" placeholder="Email" type="text" id="email-signup" />
      </div>
      <div>
        <input class="form-label" placeholder="Password" type="password" id="password-signup" />
      </div>
      <div>
        <input class="form-label" placeholder="First Name" type="text" id="firstname-signup" />
      </div>
      <div>
        <input class="form-label" placeholder="Last Name" type="text" id="lastname-signup" />
      </div>
      <div>
        <button class="btn" type="submit">signup!</button>
      </div>
    </div>
  </form>
</div>

<script src="/javascript/signup.js"></script>