<div class="container">
    <div class="row">
        <div class="col-12 col-md-4">
                   <div class="card">
                <h3 class="card-header text-uppercase">Options</h3>
                <div class="card-body" id="language-buttons">
                    <button class="btn" data-language="javascript">Add a Staff Member</button>
                    <button class="btn" data-language="javascript">Add an Owner</button>
                    <button class="btn" data-language="javascript">Add a Pet</button>
                    <button class="btn" data-language="javascript">View an Owner Profile</button>
                    <button class="btn" data-language="html">View a Pet</button>
                    <button class="btn" data-language="css">Set an appointment</button>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-12 col-md-6">
            <div class="card pet-info">
            <h2 class="subtitle">Your Pet Info <span id="repo-search-term"></span></h2>
            <div id="repos-container" class="list-group"></div>
            </div>
        </div>
    </div>
</div>