<div class="square">
    <img class="trolly" src="/images/phoenix-nb.png">
</div>
<div class="form-div">
    <form class="staff-login-form">
        <h1>Staff-Login</h1>
        <div class="form-input">
            <div>
                <input class="form-label" placeholder="Email" type="text" id="email-login" />
            </div>
            <div>
                <input class="form-label" placeholder="Password" type="password" id="password-login" />
            </div>
            <div>

                <button class="btn" type="submit">login!</button>
            </div>
        </div>
    </form>
</div>


<script src="/javascript/staffintro.js"></script>
<script src="/javascript/animation.js"></script>
<script src="/javascript/login.js"></script>