:root {
    --primary: #7b2cbf;
    --secondary: #E97319;
    --tertiary: #962217;
    --light-dark: #f5f6e0;
    --dark: #150721;
    --button-primary: #580f97;
    --border-radius: 10px;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary);
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 14px;
}

header {
    /* background-image: linear-gradient(to bottom, #7b2cbf, #f5f6e0); */
    background-color: rgba(21, 7, 33, 0);
    text-align: center;
    font-size: 26px;
}

title {
    font-family: Copperplate, Papyrus, fantasy;
}

ul li {
    list-style-type: none;
    text-align: left;
    padding: 5px;
    margin:0;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1%;
    font-size: 110%;
    color: var(--dark);
    background: var(--light-dark);
}

h1 {
    color: #150721;
}

h3 {
    font-size: 2.0rem;
    font-weight: bolder;
    color: var(--secondary);
}

h6 {
    font-size: 1.25rem;
    font-weight: bolder;
    color: var(--dark);
}

a {
    margin: 10px;
    color: #150721;
}

a:hover {
    color: var(--secondary);
}

p {
    margin: 1rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin: 35px 155px;
}

.app-title {
    font-family: Copperplate, Papyrus, fantasy;
    color: --dark;
    display: flex;
    margin: 25px 150px 25px 0px;
    padding: 0px 50px 0px 0px;
    background-color: var(--light-dark);
    border-radius: var(--border-radius);
}

.header-image,
#header-image {
    width: 50%;
}

.nav-bar {
    display: flex;
    align-items: center;
    margin: 25px 50px;
    padding: 30px 50px 30px 10px;
    background-color: var(--light-dark);
    border-radius: var(--border-radius);
}

/* LANDING PAGE */
.landing-div {
    display: flex;
    align-items: center;
}

/* Photo Captions */
figure figcaption {
    border: 1px dotted var(--dark);
    text-align: center;
    font-weight: bold;
}

/* SWIPER Photo Gallery Styles */
.swiper {
    height: 200px;
    width: 400px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: var(--light-dark);
    font-size: 1.5em;
}

.swiper-slide {
    background: var(--primary);
    display: flex;
    justify-content: center;
    color: var(--dark);
    align-items: center;
    text-align: center;
    font-size: 18px;

}

.swiper-button-prev {
    color: var(--dark) !important;
}

.swiper-button-next {
    color: var(--dark) !important;
}


/* CARDS */
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}

.your-pets {
    height: 250px;
    text-align: center;
}

.pet-info {
    height: 500px;
    text-align: center;
}

.card-header {
    display: flex;
    justify-content: center;
    color: var(--light-dark);
    background-color: var(--tertiary);
    /* background-image: linear-gradient(to bottom, var(--secondary), var(--light-dark) ); */
    padding: 2.5%;
    border-radius: var(--border-radius);
}

.card-body {
    padding: 2.5%;
}

#home-card {
    border-radius: var(--border-radius);
    background-color: var(--light-dark);
}


/* Staff Dashboard */
#view-owner-pop-up {
    background: var(--light-dark);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

/* 404 page */

.errpage {
    text-align: center;
}

.troll {
    width: 40%;
}

.home {
    position: absolute;
    right: 25%;
    bottom: 60%;
}

/* button */
.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--light-dark);
    border: none;
    outline: none;
    background-color: var(--button-primary);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
}

.btn:hover {
    color: var(--dark);
    background-color: var(--secondary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--tertiary);
}

.btn-inline {
    display: inline;
}

.btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
}

.btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

#home-row {
    display: flex;
    flex-wrap: nowrap;
}

#home-card {
    margin: 25px;
    padding: 0px 0px 20px;
}

/* animations */
.square {
    position: relative;
    width: 100px;
    left: 20%;
}

.trolly {
    width: 100%;
    transform: rotate(30deg) scaleX(-1);
}

/* FORM */
.form-label {
    font-size: 1.1rem;
    margin: 15px 0 15px 0;
    width: 100%;
    line-height: 2.5;
}

.form-div h1 {
    margin: 0;
    background-color: darkcyan;
    height: 20%;
}

.staff-login-form,
.login-form,
.signup-form {
    width: 60%;
    margin: 0;
    font-size: 1.2rem;
    border: 5px solid var(--light-dark);
    border-radius: var(--border-radius);
}

.form-input {
    padding: 3%;

}

.form-div {
    display: flex;
    justify-content: center;
}

#add-staff-form {
    display: none;
}

#view-staff-form {
    display: none;
}

#add-owner-form {
    display: none;
}

#add-pet-form {
    display: none;
}

#vw-owner-form {
    display: none;
}

#vw-pet-form {
    display: none;
}

#add-appt-form {
    display: none;
}

.subtitle {
    text-align: center;
    font-weight: 525;
    color: var(--button-primary);
}

@media screen and (min-width: 1600px) {
    .main {
        max-width: 1540px;
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 800px;
    }

    .nav-bar {
        flex-direction: column;
        padding: 20px;
    }

    #home-row {
        flex-direction: column;
        align-items: center;
    }

    #header-image {
        display: flex;
        justify-content: space-between;
    }

    .header-image {
        display: none;
    }

    .app-title {
        padding: 0px;
    }

    .square {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .container {
        max-width: 375px;
    }

    .row {
        width: 50rem;
    }

    #home-row {
        align-items: baseline;
    }

    .landing-div {
        margin-left: 8rem;
    }

    #favorites {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;

    }
}