:root {
    --primary: #b0d7bd;
    --secondary: #9caea9;
    --tertiary: #788585;
    --light-dark: #6f6866;
    --dark: #38302e;
    --border-radius: .5rem;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #c37857;
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Sans", sans-serif;
    color: var(--dark);
    line-height: 1.5;
    font-size: 16px;
}

main {
    margin: 5% auto;
    width: 94%;
}

header {
    background-color: #99b27f;
    text-align: center;
    font-size: 26px;
}

footer {
    border-top: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 1%;
    font-size: 110%;
}

/* CARDS */
.card {
    margin: 0 0 20px 0;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
}

.your-pets {
    height: 250px;
    text-align: center;
}

.pet-info {
    height: 500px;
    text-align: center;
}

.card-header {
    color: var(--primary);
    background-color: var(--dark);
    padding: 2.5%;
    border-radius: calc(.18rem - 1px) calc(.18rem - 1px) 0 0;
}

.card-body {
    padding: 2.5%;
}
/* 404 page */

.errpage {
text-align: center;
}

.troll {
    width: 40%;
}

.home {
    position: absolute;
    right: 25%;
    bottom: 60%;
}

/* button */
.btn {
    font-size: 1.3rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--dark);
    transform: translate(-1px, -1px);
}

.btn:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

.btn-inline {
    display: inline;
}

.btn-back {
    border-radius: var(--border-radius);
    color: var(--primary);
    border: none;
    outline: none;
    background-color: var(--light-dark);
    box-shadow: 3px 3px var(--secondary);
    transform: translate(-1px, -1px);
    display: inline-block;
    width: auto;
    margin-top: 20px;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2rem;
}

.btn-back:hover {
    color: var(--primary);
    background-color: var(--tertiary);
    transform: translate(0, 0);
    box-shadow: 2px 2px var(--dark);
}

#home-row {
    display: flex;
    flex-wrap: nowrap;
}

#home-card {
    margin: 25px;
    padding: 25px;
}

/* CAROUSEL */
.carousel-item {
    width: 200px;
    height: 200px;
}

/* animations */
.square{
    position: relative;
    width: 100px;
    background-color: red;
    left: 20%;
}

.trolly {
    width: 100%;
}

/* FORM */
.form-label {
    font-size: 1.1rem;
    margin: 15px 0 15px 0;
    width: 100%;
    line-height: 2.5;
}

.form-div h1 {
    margin: 0;
    background-color: darkcyan;
    height: 20%;
}

.login-form,
.signup-form {
    width: 60%;
    margin: 0;
    font-size: 1.2rem;
    border: 5px solid var(--light-dark);
    border-radius: var(--border-radius);
}

.form-input {
    padding: 3%;

}

.form-div {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 1600px) {
    .container {
        max-width: 1540px;
    }
}