<div class="container">
  <div class="row">
           <div class="card col-sm-6 mx-auto">
              <h2 class="subtitle">What Would You Like To Do?<span id="repo-search-term"></span></h2>
                <h3 class="card-header text-uppercase">Options</h3>
                  <div class="card-body" id="language-buttons">
                    <button class="btn add-staff" data-language="javascript">Add a Staff Member</button>
                    <button class="btn add-owner" data-language="javascript">Add an Owner</button>
                    <button class="btn add-pet" data-language="javascript">Add a Pet</button>
                    <button class="btn view-owner" data-language="javascript">View an Owner Profile</button>
                    <button class="btn view-pet" data-language="html">View a Pet</button>
                    <button class="btn set-appt" data-language="css">Set an Appointment</button>
                  </div>
           </div>
    </div>
</div>


<script src="/javascript/staffportal.js"></script>


            {{!-- <div id="repos-container" class="list-group"></div>
      <div class="col-md-2"></div>
            </div> --}}